.react-datepicker-wrapper {
  display: inline-block !important;
  width: 100%;
}

.claim-form {
  padding-top: 30px;
  background-color: #f8efefd4;
  height: 500px;
}
.container {
  width: 500px;
  margin: auto;
  background-color: #e6e6f2;
  /* margin-top: 30px; */
  border-radius: 9px;
  padding: 28px;
}

.row {
  margin: 15px;
}
.button-panel {
  text-align: center;
}
.button-raise {
  width: 100%;
}

.navbar-nav :hover {
  background-color: green;
  border-radius: 6px;
}

.login-page {
  background-color: #f8f3f3c9;
  padding-top: 5px;
  height: 1000px;
}

.login-container {
  width: 500px;
  margin: auto;
  padding: 40px;
  border-radius: 12px;
}

.navigation-bar {
  display: flex;

  width: 1100px;
  margin: auto;
}

.nav-button {
  width: 380px;
  text-align: center;

  font-size: x-large;
}

.nav-button :hover {
  background-color: rgb(230, 238, 230);
  border-radius: 5px;
}
.submit-button {
  padding: 30px;
}
.btn-submit {
  width: 100%;
}

.user-title:hover {
  background-color: white;
}

.profile-heading {
  text-align: center;
}
.website-title {
  flex: 100%;
}
